<template>
  <div class="passo4">
    <div class="container wp-box section section-artigo with-box">
      <h2>Soluções para você</h2>
      
      <div class="timeline">
        <div id="timeline-wrap">
          <div id="timeline"></div>
          <div class="marker mfirst timeline-icon one active">1</div>
          <div class="marker m2 timeline-icon two active">2</div>
          <div class="marker m3 timeline-icon three active">3</div>
          <div class="marker m4 timeline-icon four active">4</div>
          <div class="marker m5 timeline-icon five">5</div>
          <div class="marker mlast timeline-icon six">6</div>
        </div>
      </div>
    </div>


    <div class="container wp-box section section-artigo with-box">
      
      <div class="row">
        <div class="colsm-12">
          <p>E você pretende usar o dinheiro para algum projeto específico?</p>
        </div>
      </div>
      
      
      <div class="row">
        <div class="colsm-6">
          <div class="control-item">
            <ul>
              <li v-for="(obj, index) in objetivos" :key="index">
                <input type="radio" name="objetivos" :id="'obj-'+obj.iID_Objetivo" :value="obj.iID_Objetivo" v-model="dados.iID_Objetivo" class="font-icon" />
                <label :for="'obj-'+obj.iID_Objetivo"  class="opcao-radio">{{obj.vObjetivo}}</label>
              </li>
              <small class="form-text text-muted" v-show="error">Selecione uma opção.</small>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="colsm-8">
          <small class="form-text text-muted" v-if="erroApi">Erro de comunicação com o servidor. Tente novamente mais tarde.</small>
        </div>
      </div>


      <div class="row">
        <div class="colsm-8">
          <a class="btn blue" @click="validarAvancar(dados)">Próxima Etapa</a> <span class="etapa-anterior">ou <router-link :to="{name: 'passo-tres', params: {dados}}" >volte à etapa anterior</router-link></span>
        </div>
      </div>
    
    </div>
  </div>
</template>

<script>
import {Money} from 'v-money'
import axios from 'axios';

export default {
  components: {Money},
  name: 'passo4',
  data: function() {
    return {
      objetivos: null,
      idObjetivo: '',
      error: null,
      dados: {
        
      },
      erroApi: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      },
      urlApi: process.env.VUE_APP_URL_API
    };
  },
  methods: {

    validarAvancar(dados) {
      var _this = this;
      if(!this.dados.iID_Objetivo){
        this.error = true;
      } else {

        _this.dados.iPasso_Simulador = 4;
        this.$loading(true);
          axios.post(_this.urlApi + 'Visita_Dados_PF/' + _this.dados.iID_Visita, _this.dados)
            .then(function (response) {
              console.log(_this.objetivos.find(x => x.iID_Objetivo === _this.dados.iID_Objetivo).vObjetivo);
              try{
                dataLayer.push({
                  'passoSimulador': 'Passo4',
                  'objetivo': _this.objetivos.find(x => x.iID_Objetivo === _this.dados.iID_Objetivo).vObjetivo,
                  'event': 'proximoPasso',
                  'tipo': 'PF'
                });
              } catch(error){
                console.error(error);
              }

              _this.$router.push({name:'passo-cinco', params:{dados}});

              _this.$loading(false);
            })
            .catch(function (error) {
              _this.erroApi = true;
              _this.$loading(false);
            });
      }

    }
  },
  created: function(){
    this.$loading(true)
    this.dados = this.$route.params.dados;
    axios
      .get(this.urlApi + 'Objetivos')
      .then(response => {
        
          this.objetivos = response.data;
          this.$loading(false);
        }
      )
      .catch(error => {
        
        this.$loading(false);
      })
  }
}
</script>