<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Caixa Sim | Caixa</title>
    <script src="http://www.caixa.gov.br/Style%20Library/agora-sim/keycloak.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.caixa.gov.br/Style%20Library/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://www.caixa.gov.br/Style%20Library/css/caixa.css">
    <link rel="stylesheet" type="text/css" href="https://www.caixa.gov.br/Style%20Library/css/wp.css">
    <link rel="stylesheet" type="text/css" href="https://www.caixa.gov.br/Style%20Library/css/icons.css">

    <script src="https://www.caixa.gov.br/Style%20Library/js/jquery-1.10.2.min.js">//<![CDATA[//]]></script>
    <script src="https://www.caixa.gov.br/Style%20Library/js/jquery-ui.min.js">//<![CDATA[//]]></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">//<![CDATA[//]]></script>
 
  </head>
  <body>
    <noscript>
      <strong>We're sorry but cx-sim doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
